@model MvcApplication.Models.AccountModels.ProfilePageModel

@{
    ViewBag.Title = String.Format("{0} Profile Page, Likes", Model.UserLogin);
    List<Domain.Picture> pictures = Model.HeartedPics
        .OrderBy(p => p.ID)
        .Skip((Model.PicsPagingInfo.CurrentPage - 1) * Model.PicsPagingInfo.ItemsPerPage)
        .Take(Model.PicsPagingInfo.ItemsPerPage).ToList();
    var pic_number = pictures.Count();
}

@section styles{
    @Styles.Render("~/Content/Main.css")
}

@section Brand{
    <a class="navbar-brand" href="/Main/@Model.UserID/"><img src="~/Content/img/4insp.png"></a>
}

@section HeaderPartLeft{
    <li>@Html.RouteLink("All images", "Index", new { userID = @Model.UserID})</li>
    <li><a href="#">Following</a></li>
    <li><a href="#">Upload</a></li>    
}

@section HeaderPart{
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img id="userpic" src="@Url.Action("GetImage", "Account", new { id1=Model.UserID, id2=0, id3=0})">
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu" >
                    <li>@Html.RouteLink("My profile", "ProfilePage", new { userID = @Model.UserID})</li>
                      <li class="active"><a href="#">My likes</a></li>
                    <li>@Html.RouteLink("My sets", "ProfilePageSets", new {userID = @Model.UserID})</li>
                    <li class="divider"></li>
                    <li><a href="/Main/0"> <button type="button" id="log_out" class="btn btn-default">Log out</button></a></li>
                  </ul> 
                </li>
}

<br/><br/>

<div class="row">
      <div class="col-md-6 col-md-offset-2" id="board_big">
          <div id="board_big_content" class="row">
            <div class="col-md-3"> <img id="userpic_on_board_big" src="@Url.Action("GetImage", "Account", new { id1=Model.UserID, id2=0, id3=0 })"></div>
            <div class="col-md-6 col-md-offset-1"> <h2>@Model.UserLogin profile</h2> </div>
          </div>
          <hr>
           <div class="btn-group btn-group-justified btn-group-lg">
            <a href="#" class = "btn btn-default" id="active">Likes</a>
            @Html.RouteLink("Sets", "ProfilePageSets", new {userID = @Model.UserID}, new { @class = "btn btn-default"}) 
            @Html.RouteLink("Options", "ProfilePage", new {userID = @Model.UserID}, new { @class = "btn btn-default"})  
            </div>
          <br />

@if(Model.HeartedPics.Count() > 0)
{
    bool flag = true;
    int pic_counter = 1;
    while(flag)
    {
        <div class="row">
        @for( ; pic_counter <= pic_number; pic_counter++)
        {
             var user = pictures.ElementAt(pic_counter - 1).PictureSet.Profile.User;
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="@Url.Action("GetImage", "Account", new { id1=0, id2=0, id3=pictures.ElementAt(pic_counter-1).ID })">
                    <div class="btn-group dropdown" id="profile_pictures">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <strong>@pictures.ElementAt(pic_counter-1).Name</strong> <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">@pictures.ElementAt(pic_counter-1).ShortInfo</li>
                            <li class="dropdown-header">Was added @pictures.ElementAt(pic_counter-1).CreationDate </li>
                            <li><a href="#some_user">By <span class="glyphicon glyphicon-user"></span> <em>@user.Login</em></a></li>
                            <li>@Html.RouteLink(" Unheart it / Dislike ", "DeleteHeartedPic", new { userID = Model.UserID, page = Model.TagsPagingInfo.CurrentPage, pictureID = pictures.ElementAt(pic_counter-1).ID, fromIndex = 0})</li>
                        </ul>
                    </div>
                 </div>

            </div>
            
            if (pic_counter == pic_number) { flag = false; break; } //all foolowing are on screen
            if (pic_counter%3 == 0)//all 3 are in line
            {
                pic_counter++;
                break; 
            }
         }
        </div>
    }     
}

<ul class="pagination pagination-sm" id ="sets_tags">
        @Html.ProfilePageLinks(Model.PicsPagingInfo, Model.UserID, Model.TagsPagingInfo.CurrentPage, (a, b, c) => Url.Action("ProfilePageLikes", new { userID = a, tagsPage = b, likesPage = c }))
    </ul>

<br/><br/>

</div>

 <div class="col-md-2" id="board_small">

  @Html.Partial("ProfilePageRP", Model)
     
   <ul class="pagination pagination-sm" id ="pages_tags">
        @Html.ProfilePageLinks(Model.TagsPagingInfo, Model.UserID, Model.PicsPagingInfo.CurrentPage, (a, b, c) => Url.Action("ProfilePageLikes", new { userID = a, tagsPage = c, likesPage = b }))
    </ul>   


 </div> 
    </div>

